@use 'variables' as *;

@mixin mobile {
    @media (min-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: $desktopXL) {
        @content;
    }
}

@mixin container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columns: 1, $gap: 5rem) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}