$principal_font: "Montserrat", sans-serif;

//colors
$GREEN: #4CB8B3;
$PINK: #F53756;
$YELLOW: #FDDA00;
$PURPLE: #752F97;
$BLACK: #000000;
$WHITE: #FFFFFF;

//media queries
$mobile: 30em; //480px
$tablet: 48em; //768px
$desktop: 75em; //1200px
$desktopXL: 87.5em; //1400px