@use 'base/variables' as *;
@use 'base/mixins' as *;


.header {
    background-color: $GREEN;

    .header-content {
        padding: 2rem;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        color: $WHITE;
        text-align: center;
        
        @include tablet {
            margin: 0;
            text-align: left;
        }
    }
}

.principal-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @include tablet {
        flex-direction: row;
    }

    a {
        color: $WHITE;
        font-size: 2.4rem;

        &:hover {
            color: $YELLOW;
        }
    }
}